<section class="comingsoon-s1 minh-100vh align-items-center d-flex bg-secondary">
    <div class="row justify-content-center mx-0 w-100">
        <div class="col-10 col-sm-6 text-center text-white text-shadow">
            <h1 class=" display-4 font-weight-bold font-logo">
                Coming soon...
            </h1>
            <p class="lead text-white">
                We are not ready yet, however we are staring soon.<br> 
                Please visit us again in a while.
            </p>
        </div>
    </div>
</section>