@include aoa-bg-series($bg__init,$classes_init);

.comingsoon-s1{
    background-blend-mode: multiply;
}
.error-s1{
    background-blend-mode: multiply;
}
.privacy-s1{
    background-blend-mode: multiply;
}